[submodule "event-service"]
	path = event-service
	url = https://github.com/Satt0/ticket-event-service.git
[submodule "booking-service"]
	path = booking-service
	url = https://github.com/Satt0/ticket-booking-service.git
